body {
	background-color: lavender;
}
.card {
	background-color: white;
	width: 600px;
	height: 320px;
}

.zagolovokh1 {
	height: 50px;
	width: 550px;
}
.paragraf {
	margin: auto;
	width: 420px;
}
.container {
	width: 700px;
	margin: auto;
}
footer {
	background-color: white;
	width: 600px;
	height: 100px;
}
.button {
	background-color: blue;
	border: 1px solid white;
	margin: auto;
	width: 140px;
	height: 30px;
	text-align: center;
	padding-top: 7px;
}

.abilics {
	margin-left: 240px;
	border-radius: 50%;
	width: 100px;
}

h1 {
	padding-top: 20px;
	margin-left: 170px;
	font-size: 20px;
}
h2 {
	margin-left: 250px;
	color: green;
}
a:hover {
	color: black;
}
a {
	color: white;
	text-decoration: none;
}
p {
}
.img1 {
	width: 35px;
}

ul li {
	display: flex;
	list-style-type: none;T
}
.ulimg {
	margin-left: 190px;
	width: 200px;
}
ul {
	justify-content: space-between;
	display: flex;
}
